
.error-message{
    color: rgb(123, 11, 11);
    text-align: center;
}
.page-header {
    display: flex;
    flex-direction: rows;
    justify-content: center;
    align-items: center;
    h2 {
        padding: 2rem;
    }
}
.petlist-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 1rem;
  
    .petinfo-card {
        outline: .3rem solid rgb(228, 121, 228);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        .pet-image {
            height: 10rem;
            width: 12rem;
        }
        form {
            display: flex;
            flex-direction: column;
            input {
                margin: 1rem;
            }
            textarea {
                margin: 1rem;
            }
        }
        .submit-form-buttons {
            display: flex;
            button {
                margin: 1rem;
            }
            
        }
    }

}

